
<!--Login Tablet--->
<div class=" hidden bg-center rounded-xl bg-white border border-zinc-300 mx-10 my-8 px-20 py-10 sm:block lg:hidden">
    <br>
    <div class="bg-center text-center font-bold text-white rounded-xl bg-zinc-700 mx-20 my-1 px-10 py-3" >Iniciar Sesion </div> 
    <div class="bg-center rounded-xl bg-gradient-to-t from-zinc-700 via-zinc-500 to-zinc-700  mx-20 px-10 py-5">  
        <%= render 'form', class:"grap-x-2" %>
        <br>
    </div>
    <br>
    <br>
</div>

<!--Login Movil--->
<div class="bg-center rounded-xl bg-white border border-zinc-300 mx-5 my-5 px-5 py-5 sm:hidden">
    <br>
    <div class="bg-center text-center font-bold text-white rounded-xl bg-zinc-700 mx-5 my-1 px-5 py-3" >Iniciar Sesion </div> 
    <div class="bg-center rounded-xl bg-gradient-to-t from-zinc-700 via-zinc-500 to-zinc-700  mx-5 px-5 py-5">  
        <%= render 'form', class:"grap-x-2" %>
        <br>
    </div>
    <br>
    <br>
     <br>
</div>

<!--Login PC--->
<div class="contenedorBase">
    <div class="contenedorFondo hidden rounded-xl bg-white bg-center border border-zinc-300 w-1/2 my-20 py-20 px-1 lg:block"> <div>  
        <br>
        <div class="">
            <div class="contenedorTitulo text-center font-bold text-white rounded-xl bg-zinc-700 login mx-20 my-10 px-10 py-3" >Iniciar Sesion</div> 
            <div class="contenedorInfo rounded-xl bg-gradient-to-t from-zinc-700 via-zinc-500 to-zinc-700 login mx-20 my-10 px-10 py-5">  
                <%= render 'form', class:"grap-x-2" %>
                <br>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>

