<div class="mx-6 my-5 bg-gradient-to-r from-yellow-100 via-yellow-50 to-yellow-100 rounded-xl">
    <div class="bg-center pt-3 text-zinc-600 text-center text-lg font-bold rounded-t-xl">Favoritos</div>
    <div class="mx-2 my-1">
        <%= turbo_frame_tag :products, src: products_path(favorites: true) %>    
    </div>

</div>