
<div class="">
    <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <img src="https://okdiario.com/coolthelifestyle/img/2021/10/25/1001uteavenueaspencoloradocreditchristiesinternationalrealestate.jpg" class="block absolute top-1/2 left-1/2 w-full h-full object-fill -translate-x-1/2 -translate-y-1/2" alt="...">
    </div>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://i.pinimg.com/originals/08/74/04/087404617d256f3add7ac699ae153127.png" class="block absolute top-1/2 left-1/2 w-full h-full object-fill -translate-x-1/2 -translate-y-1/2" alt="...">
    </div>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://static1.mansionglobal.com/production/media/article-images/e7ddc369db19f942365959ea14fa1493/large_BN-PF111_JIN_M_20160801172949.jpg" class="block relative top-1/2 left-1/2 w-full h-full object-fill -translate-x-1/2 -translate-y-1/2" alt="...">
    </div>
</div>