<!---Categorias General--->
<br> 
<div class=" bg-white  border-2 rounded-xl border-zinc-500 w-3/4 px-10 mx-auto my-5 sm:w-1/2 sm:my-10 sm:px-20 sm:py-5">  
  <br>
    <div class=" bg-center bg-zinc-600 rounded-xl my-2 py-2 mx-auto text-white text-lg text-center font-bold">Editar Categoria</div>
    <div class="rounded-xl mx-auto bg-gradient-to-t from-zinc-600 via-zinc-400 to-zinc-600 text-white py-5">
        <br>
        <%= render "edi", category: @category%>
    </div>
  <br> 
</div>


<!--Categorias Movil
<div class="bg-white p-20">
  <div class="bg-white pb-10">
    <div class="sm:hidden bg-zinc-300 border-2 rounded-xl  border-zinc-500 ">   
      <br>
      <div class="bg-center bg-zinc-700 rounded-xl mx-10 my-2 py-2 text-zinc-700 text-lg text-center font-bold">Editar Categoria</div>
      <div class="rounded-xl mx-10 py-2 bg-zinc-600">
          <br>
          <%= render "edi", category: @category %>
          
      </div>
      <br>
    </div>
  </div>

</div>--->
