<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal">
    <div data-action="click->modal#close" class="fixed z-10 w-full h-full top-0 left-0 bg-black bg-opacity-40"></div>
    <div data-modal-target="sidebar" class="fixed top-0 right-0 z-20 w-3/4 sm:w-3/6 lg:w-2/6 h-full bg-zinc-100 overflow-y-scroll shadow flex flex-col ease-in-out duration-300 p-5 translate-x-full">
        <div class="contIcon bg-zinc-500 rounded-full">
          <p class="cursor-pointer mb-4 imageIcons" data-action="click->modal#close"><%= image_tag 'icons/back.svg', width: 25, height: 25%></p>
        </div>   
        <h2 class="text-center text-lg bg-zinc-600 border-2 border-zinc-200 rounded-xl font-bold text-white mt-5 py-1">Añadir Producto</h2>
        <div class="bg-zinc-50 my-2 border-2 border-zinc-500 rounded-xl ">
          <%= render 'form', class:"grap-x-2" %>
        </div>
    </div>
  </div>
<% end %> 

<!---bg-gradient-to-r from-zinc-600 via-zinc-400 to-zinc-600--->